* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(223, 52, 86);
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    color: aqua;

}

body {
    font-family: arial, sans-serif;
}

.card-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    max-width: 1200px;
    padding: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    box-shadow: 10px 10px 0px rgb(164, 164, 212);
    padding: 12px;
    background-color:rgb(252, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    border-radius: 12px;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px) scale(110%);
    background-color: chocolate;   
}

ul{
    list-style: none;
}

.pokemon-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(107, 176, 255);

}

.pokemon-name{
    margin-bottom: 10px;
    font-size: 25px;
}

.pokemon-info{
    margin-top: 10px;
    text-align: center;
}

.pokemon-type{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.pokemon-description{
    margin-bottom: 10px;
}

.pokemon-powers{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pokemon-attack{
    padding: 4px 12px;
    font-size: 12px;
    background-color: rgb(200, 9, 44);
    border-radius: 8px;
    color: aqua;
}

